[user]
	name = Bastien Philippe
	email = bastien.philippe@soyhuce.fr
[core]
	editor = emacs
	excludesfile = ~/.gitignore
[alias]
        ci = commit
        co = checkout
        st = status
        br = branch
	amend = commit --amend
	history = log --pretty=format:'%h  %d%n%aD%n%Cblue%an%Creset%n%n%Cred%s%n%b%n' --graph
	hist = log --pretty=format:'%h | %d%n%Cblue%an%Creset | %aD %n%Cred%s%n' --graph
	lg = log --graph --pretty=tformat:'%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%an %ar)%Creset'
	nah = reset HEAD -- .
	clean-branches = "!git fetch --prune && git for-each-ref --format '%(refname) %(upstream:track)' refs/heads | awk '$2 == \"[gone]\" {sub(\"refs/heads/\", \"\", $1); print $1}' | xargs --no-run-if-empty git branch -d"
	clean-branches-force = "!git fetch --prune && git for-each-ref --format '%(refname) %(upstream:track)' refs/heads | awk '$2 == \"[gone]\" {sub(\"refs/heads/\", \"\", $1); print $1}' | xargs --no-run-if-empty git branch -D"
[mergetool]
	keepBackup = false
	keepTemporaries = false
	prompt = false
[push]
	autoSetupRemote = true
	default = current
[init]
	defaultBranch = main
[gitflow "branch"]
	master = main
  develop = develop
[pull]
	rebase = true
	default = current
[fetch]
	prune = true
